

body{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(173, 232, 244);
}

div{
    background-image: linear-gradient(blue,rgb(0, 145, 173));
    width: 470px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0 0 9px 7px gray;
}
input{
    display: block;
    outline: 0 ;
    height: 40px;
    margin: 12px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
}
input::placeholder{
    color: whitesmoke;
}
button{
    height: 40px;
    width: 150px;
    margin-left: 160px;
    border-radius: 40px;
    background-color: rgb(2, 62, 138);
    color: whitesmoke;
    border: 0;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0;
    transition: all 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: whitesmoke;
    color: rgb(2, 62, 138);
    box-shadow: 0 0 9px 2px gray;
}
